body {
    background-color: F5F5F7;
}

h1 {
    text-align: center;
    padding-top: 5%;
    color: lightslategray;
}

p {
    color:burlywood;
}

a {
    color: gold;
}

#user_container {
    padding-top: 5%;
}

.subheading {
    text-align: center;
    padding-bottom: 3%;
}

.navleft{
    align-items: flex-end;
}

.img-fluid {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}