# 1. Make sure 'env' is your '.gitignore' file
# 2. Copy this file and rename it 'env'
# 3. Change teh environmnet variables to their trust
# Do NOT ever include your *real* env in version


MYSQL_DATABASE=msis_triage
MYSQL_HOST=server_name.aws.com
MYSQL_USER=user_name
MYSQL_PASSWORD=password

