body {
    background-color: F5F5F7;
}

h1 {
    text-align: center;
    padding-top: 5%;
    color: lightslategray;
}

p {
    color:burlywood;
}

a {
    color: gold;
}

#user_container {
    padding-top: 5%;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

.subheading {
    text-align: center;
    padding-bottom: 3%;
}

.navleft{
    align-items: flex-end;
}

.img-fluid {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

th[role=columnheader]:not(.no-sort) {
	cursor: pointer;
}

th[role=columnheader]:not(.no-sort):after {
	content: '';
	float: right;
	margin-top: 7px;
	border-width: 0 4px 4px;
	border-style: solid;
	border-color: #404040 transparent;
	visibility: hidden;
	opacity: 0;
	-ms-user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

th[aria-sort=ascending]:not(.no-sort):after {
	border-bottom: none;
	border-width: 4px 4px 0;
}

th[aria-sort]:not(.no-sort):after {
	visibility: visible;
	opacity: 0.4;
}

th[role=columnheader]:not(.no-sort):hover:after {
	visibility: visible;
	opacity: 1;
}

.student {
    margin: 10px 2px;
    padding: 4px;
    border: 1px solid gray;
    background-color: antiquewhite;
}

.selected {
    background-color: burlywood;
}

.userName {
    font-weight:bold;
}

.studentName{
    color:#999;
}